@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Fraunces:wght@400;500;600;700;800;900&display=swap");

body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-mobile {
    display: none;
}

.image-desktop {
    width: 18.75rem;
    border-radius: .625rem 0 0 .625rem;
    margin-right: .75rem;
}

section {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    border-radius: .625rem;
    width: 37.5rem;
    box-shadow: .625rem .625rem .9375rem rgba(0 , 0, 0, 0.2);
}

.Product {
    padding: 1rem;
}

.type {
    font-size: .8rem;
    font-weight: 400;
    color: hsl(228deg, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    padding-right: 1.25rem;
    font-family: "Fraunces", sans-serif;
    margin-block: 1.2rem;
    color: hsl(212, 21%, 14%);
}

.description {
    font-size: .875rem;
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
    padding-right: 1.25rem;
}

.prices {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.sale-price {
    font-family: "Fraunces", serif;
    color:hsl(158, 36%, 37%);
    font-size: 2rem;
    margin-right: 1.25rem;
    font-weight: 700;
}

.list-price {
    text-decoration: line-through;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-style: none;
    border-radius: .625rem;
    height: 3.125rem;
    width: 15.625rem;
    transition: all ease-in-out 200ms;
}

button:hover {
    background-color: hsl(158, 45%, 20%);
    cursor: pointer;
}

button:active {
    background-color: hsl(158, 45%, 20%);
}

.fa-cart-shopping {
    margin-right: 10px;
}

footer { 
    font-size: .6875rem; 
    text-align: center; 
}
    
footer a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
        width: 25rem;
    }

    .name {
        margin: .625rem 0 .625rem 0;
    }

    .prices {
        display: flex;
        align-items: center;
        margin: 1.25rem 0 1.25rem 0;
    }

    .image-desktop {
        display: none
    }
    
    .image-mobile {
        display: block;
        border-radius: 1rem 1rem 0 0;
    }
}