@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Fraunces:wght@400;500;600;700;800;900&display=swap");

body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 18.75rem;
    border-radius: 1rem 0 0 1rem;
    margin-right: 1.875rem;
}

section {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 37.5rem;
}

.product {
    padding: 2.1875rem;
}

.type {
    font-size: .8rem;
    font-weight: 400;
    color: hsl(228deg, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.95;
    font-family: "Fraunces", sans-serif;
    margin-block: 1.2rem;
}

.prices {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.sale-price {
    font-family: "Fraunces", serif;
    color:hsl(158, 36%, 37%);
    font-size: 1.7rem;
    margin-right: 1.25rem;
    font-weight: 700;
}

.list-price {
    text-decoration: line-through;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding: .625rem;
    border-style: none;
    border-radius: .625rem;
    height: 3.125rem;
    width: 15.625rem;
}

button:hover {
    background-color: hsl(158, 45%, 20%);
}

button:active {
    background-color: hsl(158, 45%, 20%);
}

.fa-cart-shopping {
    margin-right: 10px;
}

footer { 
    font-size: .6875rem; 
    text-align: center; 
}
    
footer a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
        width: 25rem;
    }

    .name {
        margin-top: .625rem;
        margin-bottom: .625rem;
    }

    .prices {
        display: flex;
        align-items: center;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    img {
        width: 100%;
        border-radius: 1rem 0 1rem 1rem;
    }
}